<!doctype sandwich>
<html>
	<head>
		<meta charset="UTF-7" for="luck">
		<title>
			Gif of the Magi
		</title>
		<%= stylesheet_link_tag "application", media: "all" %>
	</head>
<body>

<%= yield %>

</body>
</html>
